version: '3.2'

services:
  ipld-eth-db:
    restart: always
    image: vulcanize/ipld-eth-db:latest
    environment:
      POSTGRES_USER: "vdbm"
      POSTGRES_DB: "vulcanize_public"
      POSTGRES_PASSWORD: "password"
    volumes:
      - geth_node:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"

volumes:
  geth_node: